/* Empty. Add your own CSS if you like */

ion-content {
    background-color: #F9EDF7; 
    margin: 1em 1%;
    padding: 1em 1%;
}

/* *************** View: Welcome ************** */
.top {
    margin: 5% 0 3%;
}
.aside {
    padding: .5em 2.5%;
    margin: .5em 2.5%;
}
.aside img {
    width: 90%;
}
h4 {
    font-family: 'Comic Sans MS';
}
h3 { 
    font-family: 'Arial';  
}
.divHeader {
    margin: 1em .5em;  
}

/* *************** View: Joke ************** */
.square {
    width: 90%;
    background-color: ghostwhite;
    margin: 1em auto;    
}
.square > div {
    font-size: 130%;
    line-height: 140%;
    margin: 1em 1%;
    padding: 5px; 
}
.center {
    margin: 1em auto;
    padding: .25em;
}  
.center > div {
    display: inline-block;
    min-width: 90px;
}
.center img {
    margin: .1em 1%;
    vertical-align: middle;
}
.options {
    width: 28%;
}
.options img {
    min-width: 45px;
    width: 38%;
    border-radius: 100%;
}
.newJoke {
    width: 38%;
}
.newJoke img {
    min-width: 88px;
    width: 90%;
    
}
.newJoke:hover img, .options:hover img{
    border: 1px solid #3399CC;
}



    
      

